@import url("https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Londrina+Sketch&family=Noto+Serif&display=swap");
.ulNavBar {
  /* background-color: gray; */
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.liNavBar {
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
  padding-top: 1%;
  /* width: 5%; */
  font-size: 20px;
}
.navLink:hover {
  color: #3d3a3a;
  transition: ease-in 100ms;
  font-size: 25px;
  text-decoration: none;
}

.navLink {
  text-decoration: none;
  color: #666060;
  margin: 0;
  font-family: "Noto Serif", serif;
}

.initial {
  color: #7d0400;
  font-family: "Londrina Sketch", cursive;
  font-size: 35px;
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
}
