@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");

.contactImg {
  margin: auto;
  text-align: center;
  display: block;
  padding: 6%;
  width: 70%;
}
.contactBtns {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.social {
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
  color: #7d0400;
}
.emailImg {
  width: 65%;
}
.socialLinks {
  color: #940606;
  font-family: "Noto Serif", serif;
  font-size: 20px;
}
.socialLinks:hover {
  color: #9b9999;
  text-decoration: none;
  transition: ease-in 100ms;
}
