@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");

.homeHeading {
  text-align: center;
}
.xilaImg {
  width: 40%;
  text-align: center;
  margin: 0 auto;
}
.homeTitle {
  text-align: center;
  font-family: "Noto Serif", serif;
  font-size: 30px;
}
.homeRecentProj {
  padding-left: 2%;
  font-family: "Noto Serif", serif;
  font-size: 20px;
}
.projectPostsHome {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.homeProjLi {
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
  list-style: none;
}

.seeMoreBtn {
  text-align: center;
  font-size: 16px;
  border: 1px solid #9b9999;
  border-radius: 4px;
  box-shadow: 9px 10px 52px -12px rgb(0 0 0 / 75%);
  padding: 1%;
  font-family: "Noto Serif", serif;
  width: 15%;
  display: block;
  margin: auto;
  text-decoration: none;
}
.seeMoreBtn:hover {
  transition: ease-in 100ms;
  background-color: #9b9999;
  color: white;
}
.seeMoreBtnLink {
  text-decoration: none;
  color: black;
  margin: 0 auto;
  text-align: center;
}

.seeMoreBtnLink:hover {
  text-decoration: none;
  background-color: #9b9999;
  color: white;
}

#cardTitleHome {
  font-family: "Noto Serif", serif;
}
.projCardLinkHome {
  color: #7d0400;
}
.projCardLinkHome:hover {
  color: #9b9999;
  text-decoration: none;
}
.footerIcons {
  text-align: center;
  font-size: 30px;
  padding: 1%;
}
.footerIconLink {
  color: #7d0400;
}
.footerIconLink:hover {
  color: #9b9999;
}
.ulFooterIcons {
  display: flex;
  flex-direction: row;
  margin-top: 3%;
  justify-content: space-evenly;
}
.liFooterIcons {
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  list-style: none;
}
.homeProjImg {
  width: 100%;
}
